body {
    overflow-x: hidden;
}

.bg-theme {
    background: #21325A;
    color: #fff;
}
.actions {
    
    padding: 20px;
}
.actions span {
    color: #212529;
    padding: 0 20px;
    cursor: pointer;
}